<mat-card>
  <h1>Agregar nuevo paquete</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit) = "guardarCuestionario()">
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Ciudad Intermedio</mat-label>
          <input
          [(ngModel)] = "examenData.titulo"
          type="text"
          name="titulo"
          required
          placeholder="Digite el título"
          matInput>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>Ciudad Final</mat-label>
          <input
          [(ngModel)] = "examenData.descripcion"
          type="text"
          name="ciudadFinal"
          required
          placeholder="Digite el título"
          matInput>
        </mat-form-field>

        <mat-slide-toggle class="mt20" name = "activo" [(ngModel)] = "examenData.activo" color="primary">
          Estado de publicación
        </mat-slide-toggle>

        <mat-form-field appearance="fill" class="mt20 w100">
          <mat-label>Categorías</mat-label>
          <mat-select name="categoria" [(ngModel)] = "examenData.categoria.categoriaId">
            <mat-option *ngFor = "let c of categorias" [value] = "c.categoriaId">
              {{ c.titulo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="container text-center">
          <button mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

